/* navbar */

header {
  height: 130px;
  width: 100%;
  position: relative;
  background: white;
  border-bottom: 1px solid #eee;
  box-shadow: 0 4px 6px -4px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

header section {
  padding-bottom: 20px;
  padding-right: 180px;
  padding-left: 180px;
  height: 130px;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.logo {
	height: 80px;
	width: 250px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;  
  }
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 3px solid transparent; 
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
  padding-bottom: 20px;
}
.nav-links a:hover {
      color: green;
	  border-bottom-color: green;
	  
}
/* .headline {
  padding-top: 130px;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 24px;
} */
.burger {
  display: none;        
  font-size: 28px;      
  cursor: pointer;
  position: absolute;   
  right: 8px;          
  top: 70px;            
  z-index: 1;        
}
.burger-menu {
display: none;
flex-direction: column;
background-color: rgb(240, 240, 240);
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
position: absolute;
top: 70px; 
right: 8px;
padding: 10px;
border-radius: 8px;
}

.burger-menu a {
padding: 10px;
text-decoration: none;
color: #333;
border-radius: 8px;
}

.burger-menu a:hover {
background-color: rgb(0, 128, 0);
color: white;
}
.burger-menu.open {
  display: flex;
}

@media (min-width: 768px) and (max-width: 1280px) {
 header section {
  padding-right: 80px;
  padding-left: 80px;
  height: 130px;
  box-sizing: border-box;
}
.nav-links {
  gap: 20px;
 }

 .logo {
    width: 200px;
    height: 64px;
    border-radius: 16px;
 } 
}

@media (min-width: 320px) and (max-width: 768px) {
  header section {
  padding-right: 8px;
  padding-left: 8px;
  box-sizing: border-box;
  
}

.nav-links {
  height: 100px;
  padding-right: 8px;
  padding-left: 8px;
  display: none;
 }

 .burger {
  display: block; 
  }
.logo {
    width: 200px;
    height: 64px;
    border-radius: 16px;
    display: block;
 } 
}
/* Fonts typ */
@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-Regular.ttf") format("truetype");
    font-weight: 400; /* normal */
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-Bold.ttf") format("truetype");
    font-weight: 700; /* fett */
    font-style: normal;
}
