

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400; /* normal */
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
main {
    max-width: 1440px;
    width: 100%;
    padding: 130px 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    margin: 0;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700; /* fett */
    font-size: 42px;
    padding-bottom: 24px;
    margin: 0;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700; /* fett */
    font-size: 32px;
    padding-bottom: 24px;
    margin: 0;
}
h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700; /* fett */
    font-size: 24px;
    padding-bottom: 24px;
    margin: 0;
}

.line {
    height: 2px;
    background-color: rgb(240,240,240);
    width: 100%;
}


/* Hero section */

.hero p {
    margin: 0;

}


.salatImg {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    
}

.workInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 48px;
}

.work {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    height: 16px;
    width: auto;
    background-color: rgb(240,240,240);
    padding: 8px 8px;
    border-radius: 12px;
}

.workLogo {
    height: 16px;
    width: 16px;
}
/* zutaten section */

.zutaten {
    box-sizing: border-box; /*  rechnet padding mit ein damit es 
    keinen doppelten abstand gibt */
    padding: 16px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.zutaten p {
    padding-right: 12px;
}

/* zutatentabele */

table {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
}

th {
    padding-left: 16px;
}

td {
    width: 100%;
    padding: 12px 16px;
    border-radius: 12px;
}

.tdColor {
    background-color: rgb(240,240,240);
}

/* section zubereitung */
.zubereitung {
    padding-top: 48px; 
}
.zubereitung ol {
    margin: 0;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.zubereitung li {
    padding-bottom: 8px;
}

.profil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    font-size: 24px;
}

.profilLogo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

/* section footer - extra css in ordner */


/*  Tablets & kleine Laptops: 768px – 1280px */
@media (min-width: 768px) and (max-width: 1280px) {

  h1 { 
    font-size: 36px;
}
  h2 {
    font-size: 30px;

  }
  h3 { 
    font-size: 24px; 
}
  body {
    font-size: 16px;
    margin: 0;
}

main {
    padding: 90px 80px;
    box-sizing: border-box;
}

.salatImg {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.workInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    
    
}

.work {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    height: 16px;
    padding: 8px 8px;
    border-radius: 10px;
    
}

.workLogo {
    height: 16px;
    width: 16px;  
}
/* zutaten section */

.zutaten {
    padding: 16px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.zutaten p {
    padding-right: 12px;
}

/* zutatentabele */
table {
    font-size: 16px;
}
th {
    padding-left: 14px;
}
td {
    width: 100%;
    padding: 12px 16px;
    border-radius: 12px;
}

/* section zubereitung */

.profil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    font-size: 18px;
}

.profilLogo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
}



/*  Smartphones: 320px – 767px */
@media (min-width: 320px) and (max-width: 768px) {
    h1 { 
    font-size: 24px;
    
}
  h2 {
    font-size: 20px;

  }
  h3 { 
    font-size: 18px; 
}
  body {
    font-size: 16px;
    margin: 0;
}

main {
    padding: 40px 8px;
    box-sizing: border-box;
}


.salatImg {
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.workInfo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
    
}

.work {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    height: 16px;
    padding: 8px;
    border-radius: 10px;
    width: calc(100% - 16px);

}

.workLogo {
    height: 16px;
    width: 16px;  
}
/* zutaten section */

.zutaten {
    padding: 16px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.zutaten p {
    padding-right: 12px;
}


/* zutatentabele */

table {
    font-size: 16px;
}
th {
    padding-left: 8px;
}
td {
    width: 100%;
    padding: 12px 16px;
    border-radius: 12px;
}


/* section zubereitung */

.profil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    font-size: 18px;
}

.profilLogo {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}   
}


/* Fonts typ */
@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-Regular.ttf") format("truetype");
    font-weight: 400; /* normal */
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-Bold.ttf") format("truetype");
    font-weight: 700; /* fett */
    font-style: normal;
}

/* button */
.portionen-inputs {
  box-sizing: border-box;
  display: flex;
  padding-top: 5px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.portionen-inputs input {
  width: 70px;
  padding: 12px 32px;
  border: 1px solid #ccc;
  border-right: none; 
  border-radius: 8px 0 0 8px; 
  text-align: start;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
.portionen-inputs input:focus {
  outline: none;   
}

.portionen-inputs button {
  background-color: rgb(0, 128, 0);
  color: #ffffff;
  border: 1px solid #ccc;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.portionen-inputs button:hover {
  background-color: rgb(0, 150, 0);
}
label {
    padding-right: 6px;
}

/*  Tablets & kleine Laptops: 768px – 1280px */
@media (min-width: 768px) and (max-width: 1280px) { 
    .portionen-inputs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
}

/*  Smartphones: 320px – 767px */
@media (min-width: 320px) and (max-width: 767px) { 
    .portionen-inputs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
}

@media (max-width: 440px) {
  .portionen-inputs input {
    padding: 8px 8px;
    font-size: 16px;
  }
  .portionen-inputs button {
    padding: 8px 8px;
    font-size: 16px;
  }
}