
html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400; /* normal */
    font-size: 16px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
  
}
h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700; /* fett */
    font-size: 42px;
    padding-bottom: 24px;
    margin: 0;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700; /* fett */
    font-size: 32px;
    padding-bottom: 24px;
    margin: 0;
}
h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700; /* fett */
    font-size: 24px;
    padding-bottom: 24px;
    margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
}

main {
  box-sizing: border-box;
  padding: 130px 180px;
  max-width: 1440px;/* anpassung 29.10- Alex Epp */
  width: 100%;
  min-height: 80vh; /* anpassung 29.10- Alex Epp */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  Tablets & kleine Laptops: 768px – 1280px */
@media (min-width: 768px) and (max-width: 1280px) {
  main {
  padding: 90px 80px;
}

  h1 { 
    font-size: 36px;
}
  h2 {
    font-size: 30px;

  }
  h3 { 
    font-size: 24px; 
}
  body {
    font-size: 16px;/* auf 16px anpassung 29.10- Alex Epp */
    margin: 0;
}



}
/*  Smartphones: 320px – 767px */
@media (min-width: 320px) and (max-width: 767px) {
    h1 { 
    font-size: 24px;
 
}
  h2 {
    font-size: 20px;

  }
  h3 { 
    font-size: 18px; 
}
  body {
    font-size: 16px;/* auf 16px anpassung 29.10- Alex Epp */
    margin: 0;
}
main {
  
  padding: 40px 8px;/* auf 16px anpassung 29.10- Alex Epp */
}

}


@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-Regular.ttf") format("truetype");
    font-weight: 400; /* normal */
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-Bold.ttf") format("truetype");
    font-weight: 700; /* fett */
    font-style: normal;
}