/* section footer */

footer {
    height: 200px;
    background-color: rgb(64,59,59);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 180px;
    font-size: 16px;
}
footer a {
    color: white;
}

.impressum {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

}
.impressum-img img {
    height: 80px;
    width: 240px;
}
.impressum-img a {
    text-decoration: none;
}

.impressum-img a:hover {
    text-decoration: none;
    color: rgb(0, 200, 0);
}

.impressum-img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    text-decoration: none;
    
}

.footer-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.footer-logo img {
    height: 60px;
    width: 180px;
    border-radius: 8px;
}

.footer-logo img:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}


/*  Tablets & kleine Laptops: 768px – 1280px */
@media (min-width: 768px) and (max-width: 1280px) {

/* section footer */

footer {
    height: 200px;
    padding: 24px 80px;
    font-size: 14px;
    margin: 0;
}

.impressum-img img {
    height: 80px;
    width: 240px;
}

.impressum-img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    text-decoration: none;
}

.footer-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
}

.footer-logo img {
    height: 42px;
    width: 126px;
}

 
}

/*  Smartphones: 320px – 767px */
@media (min-width: 300px) and (max-width: 768px) {

/* section footer */

footer {
    height: 200px;
    padding: 24px 40px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 14px;
    margin: 0; 
}

.impressum-img img {
    height: 60px;
    width: 180px;
}

.impressum-img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    text-decoration: none;
    padding-bottom: 12px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    border-radius: 4px;
}

.footer-logo img {
    height: 25px;
    width: 75px;
}
    
}

/* Fonts typ */
@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-Regular.ttf") format("truetype");
    font-weight: 400; /* normal */
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-Bold.ttf") format("truetype");
    font-weight: 700; /* fett */
    font-style: normal;
}

